<h1>StaticPages#home</h1>
<%= link_to 'help' , help_path  %>

<%= link_to 'about' , 'about'  %>
<%= link_to 'new user' , '/users/new'  %>
<%= link_to 'Sign up', signup_path %>
<p>david@airlio.com</p>
