<% if @stuffs.count ==0 %>
    <p>没有。</p>
<% else %>
<table class="table">
  <% @stuffs.each do |s| %>

      <tr><td><%= link_to s.content , stuff_path(s.id) %></td>
      </tr>
  <% end %>
</table>
<% end %>
