
<h1>组织</h1>
<% if @stuffs.count == 0 %>
<p>没有。</p>
    <% else %>
<table class="table">
  <% @stuffs.each do |s| %>
      <tr><td><a href='organzie/<%= s.id %>/org'><%= s.content %></a></td>
      </tr>
  <% end %>
</table>
<% end %>


