$site-color:#3b984c;
$navbar-default-bg: $site-color !default;
$navbar-default-link-color:  white !default;
$navbar-default-link-active-color: lighten($site-color, 40%);
$gap:20px;
$gap-small:10px;

@import "bootstrap";


$bgColor:#F8F8F8;

body {
  font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
  padding-top: $gap;
  background-color: $bgColor;
}
.show-border
{
  border:1px solid red;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error;
 }

.text-deleteline
{
  text-decoration: line-through;
}

.footer {
  margin-top: $gap;
  padding-top: $gap;
  padding-bottom: $gap;
}

.paper{
  background-color: #ffffff;
  border-radius: $border-radius-base;
  padding: $gap;
}