@import "bootstrap";
.body {
  font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
}
.show-border
{
  border:1px solid red;
}
.signup-form
{
  //@extend .show-border;
  width:400px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error;
 }

.text-deleteline
{
  text-decoration: line-through;
}

#footer {
  height: 60px;
  background-color:  #f5f5f5;

}
