<div class="footer">
<ul>
    <%= link_to '帮助', help_path %>
    <%= link_to '关于OKGTD', about_path %>
</ul>
    <p class="small">Copyright © 2014 okgtd.com</p>

</div>
<%= debug(params) if Rails.env.development? %>