<div class="container">
	<div class="header">
		<ul class="nav nav-pills pull-right">
			<li class="active">
			     <%= link_to 'Home' ,home_path %>
			</li>
			<li >
				<a href="#">Inbox</a>
			</li>
			<li >
				<a href="#">Process</a>
			</li>
			<li >
				<a href="#">Organize</a>
			</li>
			<li >
				<a href="#">Todo list</a>
			</li>
			<li >
				<a href="#">Schedule</a>
			</li>
			<li >
				<a href="#">Project</a>
			</li>
			
			
		</ul>
		<h3 class="text-muted">Project Just.Do</h3>
	</div>
